[Desktop Entry]
Name=%(name)s
Comment=%(name)s
Categories=Network;WebBrowser;
Exec=/usr/bin/fogger %(uuid)s
TryExec=/usr/bin/fogger
Icon=%(icon)s
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=fogapp-%(uuid)s
Keywords=fogger;fogapp;
